<div class="content_new">
    <h1>アルバイト詳細ページ</h1>

<div class="detail_wrapper">
    <div class="label">
      <p>アルバイト詳細</p>
    </div>

    <div class="detail_image_wrapper">
    <%= image_tag @work.image.url , id: "img_prev"%>
    </div>

    <div class="inf">
        <div class="inf_left">
            <i class="fas fa-store fa-lg"></i>
            店名
        </div>
        <div class="inf_right">
            <p><%= @work.name%></p>
        </div>
    </div>

    <div class="inf">
        <div class="inf_left">
            <i class="fas fa-briefcase fa-lg"></i>
            職種
        </div>
        <div class="inf_right inf_textarea">
            <p><%= @work.occupation %></p>
        </div>
    </div>

    <div class="inf">
        <div class="inf_left">
            <i class="fas fa-yen-sign fa-lg"></i>
            時給
        </div>
        <div class="inf_right inf_textarea">
            <p><%= @work.wage%></p>
        </div>
    </div>

    <div class="inf">
        <div class="inf_left">
            <i class="far fa-clock fa-lg"></i>
            就業時間
        </div>
        <div class="inf_right inf_textarea">
            <p><%= @work.hours %></p>
        </div>
    </div>

    <div class="inf">
        <div class="inf_left">
            <i class="fas fa-map-marker-alt fa-lg"></i>
            勤務地
        </div>
        <div class="inf_right inf_textarea">
            <p><%= @work.location %></p>
        </div>
    </div>

    <div class="inf">
        <div class="inf_left">
            <i class="far fa-calendar-alt fa-lg"></i>
            勤務期間
        </div>
        <div class="inf_right inf_textarea">
            <p><%= @work.period %></p>
        </div>
    </div>

    <div class="inf">
        <div class="inf_left">
            <i class="fas fa-link fa-lg"></i>
            ホームページ
        </div>
        <div class="inf_right">
            <a href= <%= @work.link %> ><p><%= @work.link %></p></a>
        </div>
    </div>
    
    <div class="inf">
        <div class="inf_left">
            <i class="fas fa-phone fa-lg"></i>
            連絡先
        </div>
        <div class="inf_right inf_textarea">
            <p><%= @work.tel %></p>
        </div>
    </div>
    
    <div class="inf">
        <div class="inf_left">
            <i class="far fa-envelope fa-lg"></i>
            メールアドレス
        </div>
        <div class="inf_right inf_textarea">
            <p><%= @work.email %></p>
        </div>
    </div>
    
    <div class="inf">
        <div class="inf_left">
            <i class="far fa-clipboard fa-lg"></i>
            備考
        </div>
        <div class="inf_right inf_textarea">
            <p><%= @work.note %></p>
        </div>
    </div>
    </div>
    
</div>