<div class="home-contents">

<div class="label">
    <p>アルバイト新着</p>
</div>

<% @work.each do |work| %>

<div class="ptj-content">


<%= image_tag work.image.url , class: "img-prev"%>
<div class="right-content">
<p class="name"><%= work.name %></p>
<div class="content-detail">
<p class="occupation">仕事内容: <%= work.occupation %></p>
<p class="hours">勤務時間: <%= work.hours %></p>
<p class="wage">時給: <%= work.wage %>円</p>
</div>
</div>

</div>

<% end %>
</div>