<div class="home_contents">

    <div class="label">
        <p>アルバイト新着</p>
    </div>

    <% @work.each do |work| %>

                <div class="time">
                <p>掲載日: <%= work.created_at.strftime('%Y/%m/%d') %></p>
                </div>

                <div class="admin_edit_delete">
                <%if user_signed_in? && current_user.admin?  %>
                <%= link_to("削除","/admin/post/admin_delete/#{work.id}",data: { confirm: '本当にアルバイトの募集を削除してもよろしいですか？'}) %>
                <%end%>
                </div>
        

        <div class="ptj_content">

            <p class="name ptj_name"><%= link_to(work.name , "/home/detail/#{work.user_id}") %></p>
            
            
                <div class="right_content">

                    <div class="content_detail">

                        <div class="occupation inf_textarea">
                            <p><span>仕事内容</span><br> <%= work.occupation %></p>
                        </div>

                        <div class="location inf_textarea">
                            <p><span>勤務地</span><br> <%= work.location %></p>
                        </div>

                        <div class="wage inf_textarea">
                            <p><span>時給</span><br> <%= work.wage %></p>
                        </div>

                    </div>

                </div>
                
        </div>
    
    <% end %>
</div>