<div class="home-contents">

    <div class="label">
        <p>アルバイト新着</p>
    </div>

    <% @work.each do |work| %>

                <div class="time">
                <p>掲載日: <%= work.created_at.strftime('%Y/%m/%d') %></p>
                </div>

        <div class="ptj-content">
            
            <%= link_to image_tag(work.image.url , class: "img-prev"), "/home/detail/#{work.user_id}" %>
                <div class="right-content">

                    <p class="name"><%= link_to(work.name , "/home/detail/#{work.user_id}") %></p>
                    <div class="content-detail">

                        <div class="occupation">
                            <p><span>仕事内容</span><br> <%= work.occupation %></p>
                        </div>

                        <div class="location">
                            <p><span>勤務地</span><br> <%= work.location %></p>
                        </div>

                        <div class="wage">
                            <p><span>時給</span><br> <%= work.wage %>円</p>
                        </div>

                    </div>

                </div>
                
        </div>
    
    <% end %>
</div>