<div class="home-contents">

    <div class="label">
        <p>アルバイト新着</p>
    </div>

    <% @work.each do |work| %>

        <div class="ptj-content">

            <%= image_tag work.image.url , class: "img-prev"%>
                <div class="right-content">

                    <p class="name"><%= work.name %></p>
                    <div class="content-detail">

                        <div class="occupation">
                            <p>仕事内容<br> <%= work.occupation %></p>
                        </div>

                        <div class="location">
                            <p>勤務地<br> <%= work.location %></p>
                        </div>
                        
                        <div class="wage">
                            <p>時給<br> <%= work.wage %>円</p>
                        </div>

                    </div>

                </div>

        </div>

    <% end %>
</div>