<div class="content-new">
 <h1>以下の内容で登録してよろしいですか？</h1>

 <%= form_for(@work, url: {controller: 'post', action: 'create' }, method: :post) do |f| %>

    <div class="label">
      <p>アルバイト画像</p>
    </div>

    
    <%= image_tag @work.image.url , id: "img_prev"%>

          <div class="label">
            <p>アルバイト内容</p>
          </div>

        
          <div class="cp_iptxt">
            <%= f.label :name, "店名",class: "label-mini" %><br>
            <label class="ef">
            <%= f.text_field :name ,placeholder: "店名",:readonly => true%>
            </label>
          </div>

          
            <div class="cp_iptxt">
              <%= f.label :occupation, "職種",class: "label-mini"%><br>
              <label class="ef">
              <%= f.text_field :occupation ,placeholder: "職種",:readonly => true %>
              </label>
            </div>

          
            <div class="cp_iptxt">
              <%= f.label :wage, "時給(円)",class: "label-mini" %><br>
              <label class="ef">
              <%= f.number_field :wage ,placeholder: "時給",:readonly => true%>
              </label>
            </div>

          
            <div class="cp_iptxt">
              <%= f.label :hours, "勤務時間",class: "label-mini" %><br>
              <label class="ef">
              <%= f.text_area :hours ,placeholder: "勤務時間",:readonly => true %>
              </label>
            </div>

            <div class="cp_iptxt">
              <%= f.label :location, "勤務地" %><br>
              <label class="ef">
              <%= f.text_field :location ,placeholder: "勤務地",:readonly => true %>
              </label>
            </div>

            <div class="cp_iptxt">
              <%= f.label :period, "勤務期間" %><br>
              <label class="ef">
              <%= f.text_field :period ,placeholder: "勤務期間",:readonly => true %>
            </label>
          </div>

          <div class="cp_iptxt">
            <%= f.label :link, "ホームページリンク" %><br>
            <label class="ef">
            <%= f.text_field :link ,placeholder: "ホームページリンク",:readonly => true %>
            </label>
          </div>

          <div class="cp_iptxt">
            <%= f.label :tel, "連絡先電話番号" %><br>
            <label class="ef">
            <%= f.number_field :tel ,placeholder: "電話番号",:readonly => true %>
            </label>
          </div>

          <div class="cp_iptxt">
            <%= f.label :email, "連絡先メールアドレス" %><br>
            <label class="ef">
            <%= f.email_field :email ,placeholder: "メールアドレス",:readonly => true %>
            </label>
          </div>

          <div class="cp_iptxt">
            <%= f.label :note, "備考" %><br>
            <label class="ef">
            <%= f.text_area :note ,placeholder: "備考",:readonly => true %>
            </label>
          </div>

          <div class="actions">
            <%= f.submit "登録する",class: 'btn'%>
          </div>

          <div class="back-action">
          <button type="button",class="back-btn" onclick=history.back()>戻る</button>
          </div>
  <% end %>

</div>


