<div class="content_new">
 <h1>アルバイト募集内容の編集/削除</h1>

 <%= form_for(@work, url: {controller: 'post', action: 'update' }, method: :post) do |f| %>

    <div class="label">
      <p>アルバイト画像の編集</p>
    </div>

    <%= image_tag @work.image.url , id: "img_prev"%>

    <br><%= f.label :image , "画像を選択して下さい" %><br>
    <% if @work.errors.include?(:image) %>
        <div class="error_message">
          <p><%= @work.errors.full_messages_for(:image).first %></p>
        </div>
    <% end %>
    <%= f.file_field :image, id: "work_img"%>
    <%= f.hidden_field :image_cache %>
    
      <script type="text/javascript">
    $(function() {
      function readURL(input) {
          if (input.files && input.files[0]) {
          var reader = new FileReader();
          reader.onload = function (e) {
      $('#img_prev').attr('src', e.target.result);
          }
          reader.readAsDataURL(input.files[0]);
          }
      }
      $("#work_img").change(function(){
          readURL(this);
      });
    });
  </script>

          <div class="label">
            <p>アルバイト内容の編集</p>
          </div>

        
          <div class="cp_iptxt">
            <%= f.label :name, "店名",class: "label_mini" %><br>
            <label class="ef">
            <%= f.text_field :name ,placeholder: "店名"%>
            </label>
            <% if @work.errors.include?(:name) %>
            <div class="error_message">
              <p><%= @work.errors.full_messages_for(:name).first %></p>
            </div>
            <% end %>
          </div>

          
            <div class="cp_iptxt">
              <%= f.label :occupation, "職種",class: "label_mini"%><br>
              <label class="ef">
              <%= f.text_field :occupation ,placeholder: "職種" %>
              </label>
              <% if @work.errors.include?(:occupation) %>
              <div class="error_message">
                <p><%= @work.errors.full_messages_for(:occupation).first %></p>
              </div>
            <% end %>
            </div>

          
            <div class="cp_iptxt">
              <%= f.label :wage, "時給(円)",class: "label_mini" %><br>
              <label class="ef">
              <%= f.number_field :wage ,placeholder: "時給" %>
              </label>
              <% if @work.errors.include?(:wage) %>
                <div class="error_message">
                  <p><%= @work.errors.full_messages_for(:wage).first %></p>
                </div>
              <% end %>
            </div>

          
            <div class="cp_iptxt">
              <%= f.label :hours, "勤務時間",class: "label_mini" %><br>
              <label class="ef">
              <%= f.text_area :hours ,placeholder: "勤務時間" %>
              </label>
              <% if @work.errors.include?(:hours) %>
                <div class="error_message">
                  <p><%= @work.errors.full_messages_for(:hours).first %></p>
                </div>
            <% end %>
            </div>

            <div class="cp_iptxt">
              <%= f.label :location, "勤務地" %><br>
              <label class="ef">
              <%= f.text_field :location ,placeholder: "勤務地" %>
              </label>
              <% if @work.errors.include?(:location) %>
              <div class="error_message">
                <p><%= @work.errors.full_messages_for(:location).first %></p>
              </div>
            <% end %>
            </div>

            <div class="cp_iptxt">
              <%= f.label :period, "勤務期間" %><br>
              <label class="ef">
              <%= f.text_field :period ,placeholder: "勤務期間" %>
            </label>
            <% if @work.errors.include?(:period) %>
            <div class="error_message">
              <p><%= @work.errors.full_messages_for(:period).first %></p>
            </div>
            <% end %>
          </div>

          <div class="cp_iptxt">
            <%= f.label :link, "ホームページリンク" %><br>
            <label class="ef">
            <%= f.text_field :link ,placeholder: "ホームページリンク" %>
            </label>
          </div>

          <div class="cp_iptxt">
            <%= f.label :tel, "連絡先電話番号" %><br>
            <label class="ef">
            <%= f.text_field :tel ,placeholder: "電話番号" %>
            </label>
            <% if @work.errors.include?(:tel) %>
            <div class="error_message">
              <p><%= @work.errors.full_messages_for(:tel).first %></p>
            </div>
            <% end %>
          </div>

          <div class="cp_iptxt">
            <%= f.label :email, "連絡先メールアドレス" %><br>
            <label class="ef">
            <%= f.email_field :email ,placeholder: "メールアドレス" %>
            </label>
            <% if @work.errors.include?(:email) %>
            <div class="error_message">
              <p><%= @work.errors.full_messages_for(:email).first %></p>
            </div>
            <% end %>
          </div>

          <div class="cp_iptxt">
            <%= f.label :note, "備考" %><br>
            <label class="ef">
            <%= f.text_area :note ,placeholder: "備考" %>
            </label>
          </div>

          <div class="actions">
            <%= f.submit "編集を完了する",class: 'btn'%>
          </div>

          <div class="deleteaction">
            <%= link_to("アルバイトの募集を削除する","/post/delete", data: { confirm: '本当にアルバイトの募集を削除してもよろしいですか？'},class: 'delete_btn')%>
          </div>

  <% end %>
</div>

