<% if @work.present? %>
<div class="content-new">
 <h1>アルバイトの登録</h1>

 <%= form_for(@work, url: {controller: 'post', action: 'create' }, method: :post) do |f| %>

    <%= f.label :image , "画像を選択して下さい" %><br>
    <%= f.file_field :image %>



        <div class="input-area">
          <p>
            <%= f.label :name, "店名" %><br>
            <%= f.text_field :name %>
          </p>
          <p>
            <%= f.label :occupation, "職種" %><br>
            <%= f.text_field :occupation %>
          </p>
          <p>
            <%= f.label :wage, "時給" %><br>
            <%= f.number_field :wage %>
          </p>
          <p>
            <%= f.label :hours, "勤務時間" %><br>
            <%= f.text_area :hours %>
          </p>
          <p>
            <%= f.label :location, "勤務地" %><br>
            <%= f.text_field :location %>
          </p>
          <p>
            <%= f.label :period, "勤務期間" %><br>
            <%= f.text_field :period %>
          </p>
          <p>
            <%= f.label :link, "ホームページリンク" %><br>
            <%= f.text_field :link %>
          </p>
          <p>
            <%= f.label :note, "備考" %><br>
            <%= f.text_area :note %>
          </p>
            <%= f.submit "登録する"%>
        </div>
  </div>
  <% end %>
</div>
<% else %>
  <p>申し訳ありません。<br>アルバイトの登録は1アカウントにつき一つまでとなっております。</p>
<% end %>
