<% if @work.present? == false %>
<div class="content-new">
 <h1>アルバイトの登録</h1>
 <%= form_for(@work, url: {controller: 'post', action: 'create' }, method: :post) do |f| %>

<!--
  <div class="image-contents">
    <div class="upload-preview">
      <img src="/assets/sample.jpg" alt="サンプル画像" class="preview">
    </div>
    <input class="file" name="image" type="file">

-->

<div class="image-contents">
  <div class="upload-preview">
    <%= f.file_field :image , "画像を選択して下さい"%>
</div>
</div>

    <%#
    <script type="text/javascript">
      $(document).ready(function(){
        var preview = $(".upload-preview img");
        
        $(".file").change(function(event){
          var input = $(event.currentTarget);
          var file = input[0].files[0];
          var reader = new FileReader();

          reader.onload = function(e){
              image_base64 = e.target.result;
              preview.attr("src", image_base64);
          };

          reader.readAsDataURL(file);
        });
    });
    </script>  
    %>

        <div class="input-area">
          <p>
            <%= f.label :name, "店名" %><br>
            <%= f.text_field :name %>
          </p>
          <p>
            <%= f.label :occupation, "職種" %><br>
            <%= f.text_field :occupation %>
          </p>
          <p>
            <%= f.label :wage, "時給" %><br>
            <%= f.number_field :wage %>
          </p>
          <p>
            <%= f.label :hours, "勤務時間" %><br>
            <%= f.text_area :hours %>
          </p>
          <p>
            <%= f.label :location, "勤務地" %><br>
            <%= f.text_field :location %>
          </p>
          <p>
            <%= f.label :period, "勤務期間" %><br>
            <%= f.text_field :period %>
          </p>
          <p>
            <%= f.label :link, "ホームページリンク" %><br>
            <%= f.text_field :link %>
          </p>
          <p>
            <%= f.label :note, "備考" %><br>
            <%= f.text_area :note %>
          </p>
            <%= f.submit "登録する"%>
        </div>
  </div>
  <% end %>
</div>

<% else %>
<p>申し訳ありません。<br>アルバイトの登録は1アカウントにつき一つまでとなっております。</p>
<% end %>