<div class="content-new">
 <h1>アルバイトの登録</h1>

 <%= form_for(@work, url: {controller: 'post', action: 'createconfirm' }, method: :post) do |f| %>
    <div class="warning">

    <p><span>(※)</span>は必須入力です</p>
    </div>
    <div class="label">
      <p>アルバイト画像の登録</p>
    </div>

    <%= image_tag 'sample.jpg', id: "img_prev"%>
    
    <br><span>(※)</span><%= f.label :image , "画像を選択して下さい" %><br>
    <% if @work.errors.include?(:image) %>
        <div class="error_message">
          <p><%= @work.errors.full_messages_for(:image).first %></p>
        </div>
    <% end %>
    <%= f.file_field :image, id: "work_img", accept: "image/*"%>
    <%= f.hidden_field :image_cache %>

      <script>
        window.onload = function() {
          work_img.value = '';
        };

        $(function() {
          function readURL(input) {
              if (input.files && input.files[0]) {
              var reader = new FileReader();
              reader.onload = function (e) { $('#img_prev').attr('src', e.target.result); }
              reader.readAsDataURL(input.files[0]);
              }
          }
          $("#work_img").change(function(){
              readURL(this);
          });
        });
      </script>

          <div class="label">
            <p>アルバイト内容の登録</p>
          </div>
        
          <div class="cp_iptxt">
            <span>(※)</span><%= f.label :name, "店名",class: "label-mini" %><br>
            <label class="ef">
              <%= f.text_field :name ,placeholder: "店名"%>
            </label>
            <% if @work.errors.include?(:name) %>
              <div class="error_message">
                <p><%= @work.errors.full_messages_for(:name).first %></p>
              </div>
            <% end %>
          </div>

          
            <div class="cp_iptxt">
              <span>(※)</span><%= f.label :occupation, "職種",class: "label-mini"%><br>
              <label class="ef">
                <%= f.text_field :occupation ,placeholder: "職種" %>
              </label>
              <% if @work.errors.include?(:occupation) %>
                <div class="error_message">
                  <p><%= @work.errors.full_messages_for(:occupation).first %></p>
                </div>
              <% end %>
            </div>

          
            <div class="cp_iptxt">
              <span>(※)</span><%= f.label :wage, "時給",class: "label-mini" %><br>
              <label class="ef">
                <%= f.number_field :wage ,placeholder: "時給(円)" %>
              </label>
              <% if @work.errors.include?(:wage) %>
                <div class="error_message">
                  <p><%= @work.errors.full_messages_for(:wage).first %></p>
                </div>
              <% end %>
            </div>

          
            <div class="cp_iptxt">
              <span>(※)</span><%= f.label :hours, "勤務時間",class: "label-mini" %><br>
              <label class="ef">
                <%= f.text_area :hours ,placeholder: '(例) 17:30 〜 23:00 左記時間帯の3〜5時間' %>
              </label>
              <% if @work.errors.include?(:hours) %>
                <div class="error_message">
                  <p><%= @work.errors.full_messages_for(:hours).first %></p>
                </div>
              <% end %>
            </div>

            <div class="cp_iptxt">
              <span>(※)</span><%= f.label :location, "勤務地" %><br>
              <label class="ef">
                <%= f.text_field :location ,placeholder: "勤務地" %>
              </label>
              <% if @work.errors.include?(:location) %>
                <div class="error_message">
                  <p><%= @work.errors.full_messages_for(:location).first %></p>
                </div>
            <% end %>
            </div>

            <div class="cp_iptxt">
              <span>(※)</span><%= f.label :period, "勤務期間" %><br>
              <label class="ef">
                <%= f.text_field :period ,placeholder: "勤務期間" %>
              </label>
            <% if @work.errors.include?(:period) %>
              <div class="error_message">
                <p><%= @work.errors.full_messages_for(:period).first %></p>
              </div>
            <% end %>
          </div>

          <div class="cp_iptxt">
            <%= f.label :link, "ホームページリンク" %><br>
            <label class="ef">
              <%= f.text_field :link ,placeholder: "ホームページリンク" %>
            </label>
          </div>

          <div class="cp_iptxt">
            <span>(※)</span><%= f.label :tel, "連絡先電話番号(ハイフン有り)" %><br>
            <label class="ef">
            <%= f.text_field :tel ,placeholder: "000-0000-0000 etc.." %>
            </label>
            <% if @work.errors.include?(:tel) %>
              <div class="error_message">
                <p><%= @work.errors.full_messages_for(:tel).first %></p>
              </div>
            <% end %>
          </div>

          <div class="cp_iptxt">
            <span>(※)</span><%= f.label :email, "連絡先メールアドレス" %><br>
            <label class="ef">
            <%= f.email_field :email ,placeholder: "メールアドレス" %>
            </label>
            <% if @work.errors.include?(:email) %>
              <div class="error_message">
                <p><%= @work.errors.full_messages_for(:email).first %></p>
              </div>
            <% end %>
          </div>

          <div class="cp_iptxt">
            <%= f.label :note, "備考" %><br>
            <label class="ef">
              <%= f.text_area :note ,placeholder: "(例) 賄いの有無、制服の貸し出し、従業員割、駐車場、履歴書が必要かどうかなど" %>
            </label>
          </div>

          <div class="actions">
            <%= f.submit "登録確認へ",class: 'btn'%>
          </div>

  <% end %>
</div>

