<!DOCTYPE html>
<html>
  <head>
    <title>Aiaru</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
  </head>

  

  <body>
    <header>
      <div class="header-logo">
      <a href="/home"><%= image_tag 'Aiaru-logo.png' %></a>
      </div>
      <%if user_signed_in? %>
      <div class="header-btn">
      <%= link_to("ログアウト","/users/sign_out")%>
      </div>
      <%else%>
      <div class="header-btn">
      <%= link_to("新規登録","/users/sign_up")%>
      </div>
      <div class="header-btn">
      <%= link_to("ログイン","/users/sign_in")%>
      </div>
      <%end%>
    </header>

    <%# deivseのフラッシュメッセージを表示 %>
    <p class="notice"><%= notice %></p> <!-- ログインに成功しました。とか、ログアウトしました。 -->

    <%= yield %>
  </body>
</html>
